<!--Title Layer-->
<!--  Back-->
<!--  Title-->
<!--  Another button-->
<div class="header-container">
  <div class="left">Back</div>
  <div class="center">222</div>
  <div class="right"></div>
</div>


<!--Time/Data Layer-->
<!--  Date-->
<!--  Button-->


<!--Card List Layer-->
<!--  Cards-->
<div class="cards-container">
  <fsp-card *ngFor="let card of cardsData"
            [category]="card.category"
            [title]="card.title"
            [iconUrl]="card.icon"
            [backgroundColor]="getColor(card.category)"
  ></fsp-card>
</div>
