<!--Title Layer-->
<!--  Back-->
<!--  Title-->
<!--  Another button-->
<div class="header-container">
  <div class="left clickable" routerLink="/youth">Back</div>
  <div class="center">{{regionInformation.regionName}}</div>
  <div class="right"></div>
</div>
<div class="year-container">
  <div class="left">{{year}} CE</div>
  <div class="right">
    <button>View a different year</button>
  </div>
</div>
<fsp-static-modal [title]="activeCardTitle | titlecase"
                  [body]="regionInformation[activeCardTitle].textBody"
                  (close)="changeModal(false, null)"
                  [open]="modalOpen"></fsp-static-modal>
<!--Time/Data Layer-->
<!--  Date-->
<!--  Button-->

<!--Card List Layer-->
<!--  Cards-->
<div class="cards-container">
  <fsp-card *ngFor="let card of cardsData"
            [category]="card.category"
            [title]="card.title"
            [iconUrl]="card.icon"
            [backgroundColor]="getColor(card.category)"
            (click)="changeModal(true, card.title)"
            class="clickable"
  ></fsp-card>
</div>
